<form class="sign-in__form" [formGroup]="changePasswordFG">
    <div class="progress__wrapper">
        <mat-progress-bar mode="indeterminate"
            *ngIf="(progressBarService.isActive$ | async)"></mat-progress-bar>
    </div>
    <div class="header">
        <h2>Thay dổi mật khẩu</h2>
    </div>
    <div class="line-form">
        <mat-form-field class="example-full-width">
            <mat-label>Mật khẩu mới</mat-label>
            <input type="password" matInput
                placeholder="Nhập mật khẩu" formControlName="password">
            <mat-error *ngIf="passwordControl!.hasError('required')">
                Mật khẩu <strong>không được để trống</strong>
            </mat-error>
            <mat-error
                *ngIf="passwordControl!.hasError('invalidPassword')">
                Mật khẩu phải chứa ít nhất <strong>một chữ hoa, số, kí
                    tự đặc biệt</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="line-form">
        <mat-form-field class="example-full-width">
            <mat-label>Vui lòng nhập lại mật khẩu</mat-label>
            <input type="password" matInput
                placeholder="Nhập lại mật khẩu"
                formControlName="confirmPassword">
            <mat-error
                *ngIf="confirmPasswordControl!.hasError('invalidPassword')">
                Mật khẩu phải chứa ít nhất <strong>một chữ hoa, số, kí
                    tự đặc biệt</strong>
            </mat-error>
            <mat-error
                *ngIf="confirmPasswordControl!.hasError('notMatch') &&
                !confirmPasswordControl!.hasError('required') &&
                !confirmPasswordControl!.hasError('invalidPassword')">
                Mật khẩu không trùng khớp
            </mat-error>
            <mat-error
                *ngIf="confirmPasswordControl!.hasError('required')">
                Mật khẩu <strong>không được để trống</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex-bo align-items-center-bo
        justify-content-center-bo">
        <button class="sign-in-btn"
            [disabled]="changePasswordFG.invalid" (click)="submitChangePassword(changePasswordFG.value)"> 
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Xác nhận
        </button>
    </div>
</form>