.sign-in__form {
    border-radius: 5px;
    padding: 0 20px;
    z-index: 1;
    margin: 30px 0;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #fff, $alpha: 0.9);
}
.sign-in__form .progress__wrapper{
    margin-bottom: 15px;
}
.sign-in__form .header {
    margin-bottom: 40px;
}

.sign-in__form .line-form mat-form-field {
    width: 100%;
}

.sign-in__form .line-form {
    margin-bottom: 15px;
}
.sign-in__form .line-form:last-child{
    margin-bottom: 0
}
.sign-in__form .header h2 {
    color: var(--gemstone-color);
    margin: 0;
}

.sign-in__form .header .subtitle {
    font-size: 1.2rem;
    color: #666;
}

.sign-in__form .sign-in-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--gemstone-color);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
    letter-spacing: 4px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    border: unset;
    border-radius: 5px;
    background-color: transparent;
}

.sign-in__form .sign-in-btn:disabled{
    background-color: #ccc;
    color: #666;
    border-radius: 5px;
}

.sign-in__form .sign-in-btn:disabled:hover{
    background-color: #ccc;
    color: #666;
    box-shadow:unset
}
.sign-in__form .sign-in-btn:disabled span{
   display: none;
}


.sign-in__form .sign-in-btn:hover {
    background: var(--gemstone-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--gemstone-color),
}

.sign-in__form .sign-in-btn span {
    position: absolute;
    display: block;
}

.sign-in__form .sign-in-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--gemstone-color));
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.sign-in__form .sign-in-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--gemstone-color));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.sign-in__form .sign-in-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--gemstone-color));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}


.sign-in__form .sign-in-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--gemstone-color));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}
.sign-in__form .separate__group{
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: nowrap;
    margin: 15px 0
}
.sign-in__form .separate__group span{
    height: 1px;
    background: #ccc;
    flex: 1;
}
.sign-in__form .separate__group p{
    color: #666;
    margin: 0 10px
}
.sign-in__form .more-connect__group button{
    background: #fff;
    color: var(--gemstone-color);
    border-radius: 5px;
    border: 1px solid var(--gemstone-color);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}
.sign-in__form .more-connect__group button img{
    width: 22px;
    height: 22px;
}
#signUpButton:hover{
    background: var(--gemstone-color);
    color: #fff;
}
#signUpButton:hover span{
    color: #fff;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}


::ng-deep .sign-in__form .mat-mdc-form-field-icon-prefix,
.mat-mdc-form-field-icon-suffix {
    margin-left: 10px;
}

::ng-deep .sign-in__form mat-icon {
    color: var(--gemstone-color);
}