<form class="sign-in__form">
    <div class="progress__wrapper">
        <mat-progress-bar mode="indeterminate"
            *ngIf="(progressBarService.isActive$ | async)"></mat-progress-bar>
    </div>
    <div class="header">
        <h2>Quên mật khẩu</h2>
    </div>
    <div class="line-form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput
                placeholder="Ex. huynhgiahuy492@gmail.com"
                [formControl]="usernameControl">
            <mat-error *ngIf="usernameControl!.hasError('email') &&
                !usernameControl!.hasError('required')">
                Vui lòng nhập email hợp lệ
            </mat-error>
            <mat-error *ngIf="usernameControl!.hasError('required')">
                Email <strong>không được để trống</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex-bo align-items-center-bo
        justify-content-center-bo">
        <button class="sign-in-btn"
            [disabled]="usernameControl.invalid" (click)="submitUsername(usernameControl.value)"> 
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Tiếp tục
        </button>
    </div>
</form>