<div class="car-card-wrapper">
    <div class="car-card-item">
        <div class="car-card-item__image">
            <img src="https://n1-pstg.mioto.vn/cho_thue_xe_o_to_tu_lai_thue_xe_du_lich_hochiminh/mazda_3_2020/p/g/2021/03/20/13/M7M_5xiTotPK8fEQPUhmEA.jpg"
                alt="" />
            <div class="item-car__detail">
                <div class="d-flex-bo align-items-center-bo justify-content-between-bo">
                    <h4>{{car.model.name}} {{car.yearOfManufacture}}</h4>
                    <i class="icon-bo icon-insurance"></i>
                </div>
                <div class="group-line">
                    <span class="star">
                        <div class="star_rate-num">5.0</div>
                        <div class="star-container">
                            <svg viewBox="0 0 51 48" class="widget-svg" style="
                                width: 17px;
                                height: 17px;
                                transition: transform 0.2s ease-in-out 0s;
                                ">
                                <path class="star" d="m25,1
                                    6,17h18l-14,11 5,17-15-10-15,10
                                    5-17-14-11h18z" style="
                                    fill: var(--gemstone-color);
                                    transition: fill 0.2s ease-in-out 0s;
                                    "></path>
                            </svg>
                        </div>
                        <div class="dot-car mr-side-5">•</div>
                        <div class="trips mr-r-5">93 chuyến</div>
                        <div class="certificate-wrapper">
                            <app-certificate-svg></app-certificate-svg>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="desc-car">
            <div class="d-flex-bo align-items-center-bo justify-content-between-bo">
                <div class="group-label">
                    <span *ngIf="car.transmission === 'AUTOMATIC'">Số tự động</span>
                    <span *ngIf="car.transmission === 'MANUAL'">Số sàn</span>
                    <span>Giao xe tận nơi</span>
                </div>
                <h4 class="cl-gem price" [style.margin]="'margin: 0'">{{car.service.defaultPrice | currency: 'VND' : 'symbol'}}</h4>
            </div>
            <div class="location">
                <p class="d-flex-bo align-items-center-bo">
                    <i class="icon-bo location-icon"></i>
                    {{ car.address.district.prefix }}
                    {{ car.address.district.name }} ,{{
                      car.address.province.domain
                    }}
                    {{ car.address.province.name }}
                </p>
            </div>
        </div>
        <div class="status-favorite">
            <img src="https://www.mioto.vn/static/media/ic-favorite-car-green.dd0b13ec.svg" alt="">
        </div>
    </div>
</div>