<div class="modal-container">
    <div class="modal-header">
        <h1>Cập nhật email</h1>
    </div>
    <div class="modal-body">
        <div class="form-default form--s">
            <div class="line-form">
                <div class="wrap-input">
                    <input type="text" placeholder="Email mới">
                </div>
            </div>
            <div class="space m">
            </div>
            <button style="margin: 0" class="w-fit btn btn--m" mat-raised-button color="primary">Cập nhật</button>
        </div>
    </div>
</div>