.sign-up-wrapper {
  background: #ffffff;
  position: relative;
  background-image: url("https://images.pexels.com/photos/947031/pexels-photo-947031.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: bottom;
}

.sign-up-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(252, 252, 252, 0.2);
}

.sign-up-wrapper .sign-up {
  width: 450px;
  border-radius: unset;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  margin: auto;
  color: #fff;
}

.sign-up-wrapper .sign-up:before {
  content: "";
  position: absolute;
  background: transparent;
  bottom: 45px;
  right: 40px;
  width: 55px;
  height: 55px;
  z-index: 5;
  -webkit-transition: all 0.6s ease-in-out, background 0s ease;
  transition: all 0.6s ease-in-out, background 0s ease;
}

.sign-up-wrapper .sign-up .form {
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  position: relative;
  border-radius: 30px;
  margin: 20px auto;
  padding: 20px;
}

.sign-up-wrapper .sign-up .form .forget-password {
  margin: 0 40px 30px;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--gemstone-color);
  cursor: pointer;
}

.sign-up-wrapper .sign-up .form h2 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 40px;
  font-weight: 200;
  font-size: 19px;
}

.sign-up-wrapper .sign-up .form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  margin: 0 40px 30px 40px;
  border-bottom: 1px solid #9596a2;
}

.sign-up-wrapper .sign-up .form .form-field label {
  width: 10px;
  padding: 0 15px 0 0;
}

.sign-up-wrapper .sign-up .form .form-field input {
  width: 100%;
  background: transparent;
  padding: 15px;
  border: 0;
  margin: 0;
}

.sign-up-wrapper .sign-up .form .form-field input + svg {
  width: 35px;
  width: 35px;
  fill: none;
  stroke: var(--gemstone-color);
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: -100;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sign-up-wrapper .sign-up .form .form-field input:valid + svg {
  stroke-dashoffset: 0;
}

.sign-up-wrapper .sign-up .form .form-field input:focus {
  outline: none;
}

.sign-up-wrapper .sign-up .form .form-field input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.sign-up-wrapper .sign-up .form .form-field input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.sign-up-wrapper .sign-up .form .form-field input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.sign-up-wrapper .sign-up .form .form-field input::placeholder {
  color: white;
  opacity: 1;
}

.sign-up-wrapper .sign-up .form .button {
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px 10px 40px;
  margin: 0;
  border: 0;
  background: transparent;
  outline: none;
}

.sign-up-wrapper .sign-up .form .button.social-btn {
  padding: 10px 5px;
  height: 45px;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-text-color);
  border-radius: 5px;
  margin-right: 10px;
}

.sign-up-wrapper .sign-up .form .button.social-btn:last-child {
  margin-right: unset;
}

.sign-up-wrapper .sign-up .form .button.facebook-btn {
  background-color: #4167b2;
}

.sign-up-wrapper .sign-up .form .button.google-btn {
  background-color: #f34938;
}

.sign-up-wrapper .sign-up .form .button .arrow-wrapper {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  position: relative;
  margin: 0;
  width: 100%;
  height: 55px;
  right: 0;
  float: right;
  background: -webkit-gradient(linear, left top, right top, from(#26eb85), to(var(--gemstone-color)));
  background: linear-gradient(90deg, #26eb85, var(--gemstone-color));
  -webkit-box-shadow: 0 3px 20px rgba(var(--gemstone-color), 0.4);
          box-shadow: 0 3px 20px rgba(var(--gemstone-color), 0.4);
  border-radius: 12px;
}

.sign-up-wrapper .sign-up .form .button .arrow-wrapper .arrow {
  position: absolute;
  top: 50%;
  margin: auto;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  right: 35px;
  width: 15px;
  height: 2px;
  background: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sign-up-wrapper .sign-up .form .button .arrow-wrapper .arrow:before {
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sign-up-wrapper .sign-up .form .button .button-text {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
}

.sign-up-wrapper .sign-up .finished {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 7;
}

.sign-up-wrapper .sign-up .finished svg {
  width: 100px;
  width: 100px;
  fill: none;
  stroke: #fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: -100;
  -webkit-transition: all 0.3s ease-in-out 0.5s;
  transition: all 0.3s ease-in-out 0.5s;
}

.sign-up-wrapper .sign-up.loading .form .button .arrow-wrapper {
  width: 55px;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out 0.5s;
          animation: sk-rotateplane 1.2s infinite ease-in-out 0.5s;
}

.sign-up-wrapper .sign-up.loading .form .button .arrow-wrapper .arrow {
  background: #fff;
  -webkit-transform: translate(15px, 0);
          transform: translate(15px, 0);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.5s;
  transition: opacity 0.3s ease-in-out 0.5s;
}

.sign-up-wrapper .sign-up.loading .form .button .button-text {
  color: #9596a2;
}

.sign-up-wrapper .sign-up.active:before {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#26eb85), to(var(--gemstone-color)));
  background: linear-gradient(90deg, #26eb85, var(--gemstone-color));
  border-radius: unset;
  height: 100px;
  width: 200px;
  border-radius: 12px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sign-up-wrapper .sign-up.active .form .button .arrow-wrapper {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.sign-up-wrapper .sign-up.active .finished svg {
  stroke-dashoffset: 0;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
            transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
            transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
            transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
            transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
            transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
            transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
/*# sourceMappingURL=sign-up.component.css.map */