<div class="d-flex-bo flex-wrap-bo car__list">
    <!-- start car item -->
    <div class="car__listing-item">
        <div class="car__status suspend">
            <p class="status-text suspended">Tạm ngưng hoạt động</p>
        </div>
        <img src="https://i1-vnexpress.vnecdn.net/2021/09/18/3.jpg?w=2400&h=0&q=100&dpr=1&fit=crop&s=lohYC7Ptk92QpWobxbfOEw&t=image"
            alt="car image">
    </div>
    <div class="car__listing-item mt-2-h">
        <h2 class="text-uppercase">{{car.model.name}} {{car.yearOfManufacture}}</h2>
        <span>
            <i class="fa-solid fa-star cl-star"></i>
            <i class="fa-solid fa-star cl-star"></i>
            <i class="fa-solid fa-star cl-star"></i>
            <i class="fa-solid fa-star cl-star"></i>
            <i class="fa-solid fa-star text-secondary"></i>
            - 10 chuyến</span>
        <div class="text-price">
            <h3>1000K</h3>
        </div>
        <div class="car__listing-action">
            <button routerLink="/car/huy/312" class="btn__detail">Xem chi tiết</button>
            <button routerLink="/car-owner/car-listing/1" class="btn__management">Quản lý xe</button>
        </div>
    </div>
    <!-- end car item -->
    <!-- start car item -->
    <!-- <div class="car__listing-item">
        <div class="car__status active">
            <p class="status-text active">Đang hoạt động</p>
        </div>
        <img src="https://i1-vnexpress.vnecdn.net/2021/09/18/3.jpg?w=2400&h=0&q=100&dpr=1&fit=crop&s=lohYC7Ptk92QpWobxbfOEw&t=image"
            alt="car image">
    </div>
    <div class="car__listing-item mt-2-h">
        <h2 class="text-uppercase">mazda 6 2019</h2>
        <span>
            <i class="fa-solid fa-star cl-star"></i>
            <i class="fa-solid fa-star cl-star"></i>
            <i class="fa-solid fa-star cl-star"></i>
            <i class="fa-solid fa-star cl-star"></i>
            <i class="fa-solid fa-star text-secondary"></i>
            - 10 chuyến</span>
        <div class="text-price">
            <h3>1000K</h3>
        </div>
        <div class="car__listing-action">
            <button routerLink="/car/huy/123" class="btn__detail">Xem chi tiết</button>
            <button routerLink="/car-owner/car-listing/2" class="btn__management">Quản lý xe</button>
        </div>
    </div> -->
    <!-- end car item -->
</div>