<div class="owner">
    <div class="grid wide">
        <div class="owner-wrapper">
            <div class="inner__wrapper">
                <h2>{{'cta.forRentCta'|i18next}}</h2>
                <p>
                    {{'cta.forRentCtaContent'|i18next}}
                </p>
                <div class="has-2btn">
                    <button [style]="'color: white; border: 1px solid'" class="btn btn-m"
                        mat-stroked-button>{{'cta.findOutNow'|i18next}}</button>
                    <button class="btn btn-m" mat-raised-button color="primary"
                        routerLink="/car-owner/register">{{'cta.registerCar'|i18next}}</button>
                </div>
            </div>
        </div>
    </div>
</div>