<h1 class="text-center pd-t-10">Địa điểm của tôi</h1>
<div mat-dialog-content>
    <form class="form-default">
        <div class="line-form">
            <form id="Self-driving__search-form" class="search-form">
                <div class="search-form__control">
                    <mat-form-field style="display: block" appearance="fill">
                        <mat-label>Nhập thành phố, quận, địa chỉ,...</mat-label>
                        <input type="text" matInput [matAutocomplete]="pickUpPlaceOfSelfDrivingAuto"
                            [formControl]="addressControl" />
                        <mat-autocomplete #pickUpPlaceOfSelfDrivingAuto="matAutocomplete">
                            <mat-option *ngFor="
    let option of filteredAddressOptions | async
  " [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="line-form">
            <img src="" alt="">
            <div class="map-route">
                <div id="deli-map" style="min-width: 530px;
                height: 300px;">
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319"
                    width="100%" height="100%" frameborder="0" style="border: 0"></iframe>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <div class="d-flex-bo justify-content-between-bo w-fit">
        <div class="wrap-fit">
            <button mat-button mat-dialog-close class="btn btn-l w-fit" [style]="'backgroundColor: black; color: white'">Huỷ bỏ</button>
        </div>
        <div class="wrap-fit">
            <button mat-button mat-dialog-close class="btn btn-l gemstone-raised-button w-fit">Áp dụng</button>
        </div>
    </div>
</div>