<div class="car__calendars-container bg-white">
    <h2 class="text-center text-header">{{"car.calendar"|i18next}} {{car_id}}</h2>

    <div class="options__control">
        <mat-radio-group [formControl]="optionControl">
            <mat-radio-button value="0">
                <span class="cl-black">{{"calendar.customPrice"|i18next}}
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <!-- <i class="fa-solid fa-clock-rotate-left"
                        (click)="toggleShowModalPriceIterate()"></i> -->
                </span>
            </mat-radio-button>
            <mat-radio-button value="1"><span class="cl-black">{{"calendar.customBusyCalendar"|i18next}}
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <!-- <i class="fa-solid fa-clock-rotate-left"
                        (click)="toggleShowModalTimeIterate()"></i> -->
                </span></mat-radio-button>
            <mat-radio-button value="2"><span class="cl-black">{{"calendar.viewRentalList"|i18next}} <i
                        class="fa-regular fa-eye"></i></span></mat-radio-button>
        </mat-radio-group>
    </div>

    <!-- The Modal -->
    <div class="modal" *ngIf="showModalPriceIterate">
        <!-- Modal content -->
        <div class="modal-content iterate">
            <span class="close" (click)="toggleShowModalPriceIterate()">&times;</span>
            <h2 class="text-center">{{"calendar.customRepeatedPrice"|i18next}}</h2>

            <p class="text-secondary sub__title-1">{{"calendar.customRepeatedPriceSubTitle"|i18next}}</p>
            <p class="text-secondary sub__title-2">{{"calendar.recommendPrice"|i18next}}: {{1300000|currency:"VND"}}</p>

            <div [formGroup]="priceIterateFormGroup">
                <div class="price__iterate-group">
                    <div>
                        <span class="day__title">
                            {{"common.monday"|i18next}}
                        </span>
                        <mat-form-field appearance="outline">
                            <input matInput type="number" formControlName="monday">
                        </mat-form-field>
                        K
                    </div>
                    <div>
                        <span class="day__title">
                            {{"common.tuesday"|i18next}}
                        </span>
                        <mat-form-field appearance="outline">
                            <input matInput type="number" formControlName="tuesday">
                        </mat-form-field>
                        K
                    </div>
                    <div>
                        <span class="day__title">
                            {{"common.wednesday"|i18next}}
                        </span>
                        <mat-form-field appearance="outline">
                            <input matInput type="number" formControlName="wednesday">
                        </mat-form-field>
                        K
                    </div>
                    <div>
                        <span class="day__title">
                            {{"common.thursday"|i18next}}
                        </span>
                        <mat-form-field appearance="outline">
                            <input matInput type="number" formControlName="thursday">
                        </mat-form-field>
                        K
                    </div>
                    <div>
                        <span class="day__title">
                            {{"common.friday"|i18next}}
                        </span>
                        <mat-form-field appearance="outline">
                            <input matInput type="number" formControlName="friday">
                        </mat-form-field>
                        K
                    </div>
                    <div>
                        <span class="day__title">
                            {{"common.saturday"|i18next}}
                        </span>
                        <mat-form-field appearance="outline">
                            <input matInput type="number" formControlName="saturday">
                        </mat-form-field>
                        K
                    </div>
                    <div>
                        <span class="day__title-last">
                            {{"common.sunday"|i18next}}
                        </span>
                        <mat-form-field appearance="outline">
                            <input matInput type="number" formControlName="sunday">
                        </mat-form-field>
                        K
                    </div>
                </div>
                <div class="iterate__option-group">
                    <p class="text-secondary">{{"calendar.unlimitedIterationCycle"|i18next}}</p>
                    <div>
                        <mat-checkbox
                            formControlName="limitIterateTime">{{'calendar.limitedIterationCycle'|i18next}}</mat-checkbox>
                    </div>
                    <mat-form-field appearance="outline" class="w-fit">
                        <input matInput type="datetime" formControlName="limitIterateDate">
                    </mat-form-field>
                </div>
            </div>

            <div class="btn__actions">
                <button class="w-fit btn btn-primary"
                    (click)="toggleShowModalPriceIterate()">{{"common.confirm"|i18next}}</button>
            </div>
        </div>

    </div>

    <!-- The Modal -->
    <div class="modal" *ngIf="showModalTimeIterate">

        <!-- Modal content -->
        <div class="modal-content iterate">
            <span class="close" (click)="toggleShowModalTimeIterate()">&times;</span>
            <h2 class="limit__timerange-header">{{"calendar.customRepeatedBusy"|i18next}}</h2>
            <div class="d-flex-bo flex-wrap-bo limit__timerange-group" [formGroup]="limitTimeRangeFormGroup">
                <div class="limit__timerange-col">
                    <p>
                        {{"calendar.startFrom"|i18next}}
                    </p>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="from">
                            <mat-option value="0">{{"calendar.present"|i18next}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="limit__timerange-col">
                    <p>
                        {{"calendar.endDate"|i18next}}
                    </p>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="to">
                            <mat-option value="3">3 {{"calendar.upcomingMonths"|i18next}} (
                                {{"calendar.recommend"|i18next}} )</mat-option>
                            <mat-option value="4">4 {{"calendar.upcomingMonths"|i18next}}</mat-option>
                            <mat-option value="5">5 {{"calendar.upcomingMonths"|i18next}}</mat-option>
                            <mat-option value="6">6 {{"calendar.upcomingMonths"|i18next}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <button class="btn btn-primary limit__timerange-btn">{{"common.saveChanges"|i18next}}</button>
        </div>

    </div>
    <!-- The Modal -->
    <div class="modal" *ngIf="showModalPriceByDate">
        <!-- Modal content -->
        <div class="modal-content iterate">
            <span class="close" (click)="toggleShowModalPriceByDate()">&times;</span>
            <h2 class="limit__timerange-header text-center">{{"calendar.customDatePrice"|i18next}}
                {{getDateInFormat(clickedDate)}}</h2>

            <p class="text-secondary">{{"calendar.customRepeatedPriceSubTitle"|i18next}}</p>

            <div [formGroup]="priceByDateFormGroup" class="price__date-group">
                <mat-form-field appearance="outline">
                    <input matInput type="number" formControlName="price" [min]="0" [max]="8000">
                </mat-form-field>K
            </div>
            <p class="text-secondary">{{"calendar.recommendPrice"|i18next}} {{1300000|currency:"VND"}}</p>
            <button class="btn btn-primary limit__timerange-btn w-fit"
                (click)="saveCustomPrice()">{{"common.confirm"|i18next}}</button>
        </div>

    </div>

    <div class="d-flex-bo flex-wrap-bo car__calendars-content">
        <div class="car__calendars-col">
            <ul class="calendars__labels">
                <!-- <li>Giá mặc định</li> -->
                <li>
                    <i class="fa-solid fa-square cl-danger"></i>
                    {{"calendar.rentedDay"|i18next}}
                </li>
                <li>
                    <i class="fa-solid fa-square cl-waiting-1"></i>
                    {{"calendar.pendingApproval"|i18next}}
                </li>
                <li>
                    <i class="fa-solid fa-square cl-gem"></i>
                    {{"calendar.pendingDelivery"|i18next}}
                </li>
                <li class="cl-gem">
                    <i class="fa-solid fa-square cl-price"></i>
                    {{"calendar.customPrice"|i18next}}
                </li>
                <!-- <li>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    Lặp lại tuần
                </li>
                <li>
                    <i class="fa-solid fa-square cl-danger"></i>
                    Ngày đã đặt
                </li>
                <li>
                    <i class="fa-solid fa-square cl-waiting-1"></i>
                    Chờ đặt cọc
                </li>
                <li class="cl-gem">
                    Giá tùy chỉnh
                </li>
                <li>
                    <i class="fa-solid fa-square cl-empty"></i>
                    Ngày trống
                </li>
                <li>
                    <i class="fa-solid fa-square cl-busy"></i>
                    Ngày bận
                </li>
                <li>
                    <i class="fa-solid fa-square cl-waiting-2"></i>
                    Chờ duyệt
                </li> -->
            </ul>
        </div>
    </div>

    <!-- calendar component -->

    <ng-template #customCalendarCell let-day="day" let-locale="locale">
        <div class="cal-cell-top">
            <span class="cal-day-badge bg-rented" *ngIf="day.badgeTotal> 0  && rentedSize(day)>0">{{
                rentedSize(day)}}</span>
            <span class="cal-day-badge bg-accepted" *ngIf="day.badgeTotal> 0 && acceptedSize(day)>0">{{acceptedSize(day)
                }}</span>
            <span class="cal-day-badge bg-pending" *ngIf="day.badgeTotal> 0  && pendingSize(day)>0">{{
                pendingSize(day) }}</span>
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <p style="margin: 5px" *ngIf="day.events.length===0">{{"calendar.empty"|i18next}}</p>
        <p style="margin: 5px" *ngIf="day.badgeTotal> 0  && rentedSize(day)>0">{{
            rentedSize(day)}} {{"calendar.activeRental"|i18next}}</p>
        <p style="margin: 5px" *ngIf="day.badgeTotal> 0 && pendingSize(day)>0">{{
            pendingSize(day) }} {{"calendar.pendingApprovalRental"|i18next}}</p>
        <p style="margin: 5px" *ngIf="day.badgeTotal> 0  && acceptedSize(day)>0">{{acceptedSize(day)
            }} {{"calendar.pendingDeliveryRental"|i18next}}</p>
        <p style="margin: 5px" *ngIf="day.events.length>0 &&isBusy(day)">{{"common.busy"|i18next}}</p>
        <p style="margin: 5px" *ngIf="day.events.length>0&&hasCustomPrice(day)" class="cl-gem">
            {{"calendar.changedPrice"|i18next}} :
            {{getPriceTitle(day)}}</p>
    </ng-template>

    <mwl-calendar-header [(view)]="view" [(viewDate)]="viewDate">
    </mwl-calendar-header>

    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)"
        [locale]="locale" [cellTemplate]="customCalendarCell"
        (beforeViewRender)="beforeMonthViewRender($event)"></mwl-calendar-month-view>
</div>