.modal-container{
    min-width: 570px;
}
.modal-header{
    padding: 60px 20px 40px
}
.modal-header h1{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
.modal-body{
    padding: 0 20px 48px
}