<div class="d-flex-bo justify-content-center-bo align-items-center-bo flex-nowrap-bo bx__shadow pos-rel z-1">
    <a class="c-o-1 owner__nav-item" routerLink="/car-owner/car-listing" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:false}">
        <i class="fa-solid fa-car fs-150"></i>
        <span class="label__car">{{"common.carListing"|i18next}}</span>
    </a>
    <a class="c-o-1 owner__nav-item" routerLink="/car-owner/calendars" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="fa-solid fa-calendar-days fs-150"></i>
        <span class="label__car">{{"common.generalCalendar"|i18next}}</span>
    </a>
    <a class="c-o-1 owner__nav-item" routerLink="/car-owner/register" routerLinkActive="active">
        <i class="fa-solid fa-circle-plus fs-150"></i>
        <span class="label__car">{{"common.registerCar"|i18next}}</span>
    </a>
    <a class="c-o-1 owner__nav-item" routerLink="/car-owner/statistics" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="fa-solid fa-chart-line fs-150"></i>
        <span class="label__car">{{"common.statistics"|i18next}}</span>
    </a>
    <a class="c-o-1 owner__nav-item" routerLink="/car-owner/contract" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="fa-solid fa-file-signature fs-150"></i>
        <span class="label__car">{{"common.contractTemplate"|i18next}}</span>
    </a>
    <a class="c-o-1 owner__nav-item" routerLink="/car-owner/rental-listing" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:false}">
        <i class="fa-solid fa-car-side fs-150"></i>
        <span class="label__car">{{"common.rentalListing"|i18next}}</span>
    </a>
</div>