$gemstone-palette: (
    50: #e0f4ea,
    100: #b3e4cb,
    200: #80d2a8,
    300: #4dc085,
    400: #26b36a,
    500: #00a550,
    600: #009d49,
    700: #009340,
    800: #008a37,
    900: #007927,
    A100: #a7ffbb,
    A200: #74ff94,
    A400: #41ff6d,
    A700: #27ff5a,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    ),
);
$accent-palette: (
    50: #fffae8,
    100: #fff3c5,
    200: #ffeb9f,
    300: #ffe279,
    400: #ffdc5c,
    500: #ffd63f,
    600: #ffd139,
    700: #ffcc31,
    800: #ffc629,
    900: #ffbc1b,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffefcc,
    A700: #ffe7b3,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    ),
);
$warm-palette: (
    50: #fee8e7,
    100: #fcc7c3,
    200: #faa19b,
    300: #f77b72,
    400: #f65f54,
    500: #f44336,
    600: #f33d30,
    700: #f13429,
    800: #ef2c22,
    900: #ec1e16,
    A100: #ffffff,
    A200: #ffe9e9,
    A400: #ffb8b6,
    A700: #ff9f9c,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    ),
);